# --- Postgres Database ---------------------------------------------------
 
POSTGRES_DB=restapitemplate
POSTGRES_USER=restapi

# You can generate password with: openssl rand -base64 32
POSTGRES_PASSWORD=***